<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.japarestaurante">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="JapaRestaurante"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Cabecalho"></activity>
        <activity android:name=".ExibirProduto" />
        <activity android:name=".NovoProduto" />
        <activity android:name=".CriarEmail" />
        <activity
            android:name=".MandarPedido"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>